<div class="section">
    <div class="title">frost-link(Primary)</div>
    <div class="example">
        <div class="title">Disabled</div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{#frost-link
  'demo.min'
  priority='primary'
  size='small'
  disabled=true
}}
  <div class='text'>Primary</div>
{{/frost-link}}
```"
          }}
        </div>
        <div class="demo">
          {{#frost-link
          'demo.min'
          priority='primary'
          size='small'
          disabled=true
          }}
              <div class='text'>Primary</div>
          {{/frost-link}}
        </div>
    </div>

    <div class="example">
        <div class="title">Small</div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{#frost-link
  'demo.min'
  priority='primary'
  size='small'
}}
  <div class='text'>Primary</div>
{{/frost-link}}
```"
          }}
        </div>
        <div class="demo">
          {{#frost-link
          'demo.min'
          priority='primary'
          size='small'
          }}
              <div class='text'>Primary</div>
          {{/frost-link}}
        </div>
    </div>

    <div class="example">
        <div class="title">Medium</div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{#frost-link
  'demo.min'
  priority='primary'
  size='medium'
}}
  <div class='text'>Primary</div>
{{/frost-link}}
```"
          }}
        </div>
        <div class="demo">
          {{#frost-link
          'demo.min'
          priority='primary'
          size='medium'
          }}
              <div class='text'>Primary</div>
          {{/frost-link}}
        </div>
    </div>

    <div class="example">
        <div class="title">Large</div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{#frost-link
  'demo.min'
  priority='primary'
  size='large'
}}
  <div class='text'>Primary</div>
{{/frost-link}}
```"
          }}
        </div>
        <div class="demo">
          {{#frost-link
          'demo.min'
          priority='primary'
          size='large'
          }}
              <div class='text'>Primary</div>
          {{/frost-link}}
        </div>
    </div>
</div>

<div class="section">
    <div class="title">frost-link(Secondary)</div>
    <div class="example">
        <div class="title">Disabled</div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{#frost-link
  'demo.min'
  priority='secondary'
  size='small'
  disabled=true
}}
  <div class='text'>Secondary</div>
{{/frost-link}}
```"
          }}
        </div>
        <div class="demo">
          {{#frost-link
          'demo.min'
          priority='secondary'
          size='small'
          disabled=true
          }}
              <div class='text'>Secondary</div>
          {{/frost-link}}
        </div>
    </div>

    <div class="example">
        <div class="title">Small</div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{#frost-link
  'demo.min'
  priority='secondary'
  size='small'
}}
  <div class='text'>Secondary</div>
{{/frost-link}}
```"
          }}
        </div>
        <div class="demo">
          {{#frost-link
          'demo.min'
          priority='secondary'
          size='small'
          }}
              <div class='text'>Secondary</div>
          {{/frost-link}}
        </div>
    </div>

    <div class="example">
        <div class="title">Medium</div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{#frost-link
  'demo.min'
  priority='secondary'
  size='medium'
}}
  <div class='text'>Secondary</div>
{{/frost-link}}
```"
          }}
        </div>
        <div class="demo">
          {{#frost-link
          'demo.min'
          priority='secondary'
          size='medium'
          }}
              <div class='text'>Secondary</div>
          {{/frost-link}}
        </div>
    </div>

    <div class="example">
        <div class="title">Large</div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{#frost-link
  'demo.min'
  priority='secondary'
  size='large'
}}
  <div class='text'>Secondary</div>
{{/frost-link}}
```"
          }}
        </div>
        <div class="demo">
          {{#frost-link
          'demo.min'
          priority='secondary'
          size='large'
          }}
              <div class='text'>Secondary</div>
          {{/frost-link}}
        </div>
    </div>
</div>

<div class="section">
    <div class="title">frost-link(Tertiary)</div>
    <div class="example">
        <div class="title">Disabled</div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{#frost-link
  'demo.min'
  priority='tertiary'
  size='small'
  disabled=true
}}
  <div class='text'>Link one</div>
{{/frost-link}}
```"
          }}
        </div>
        <div class="demo">
          {{#frost-link
          'demo.min'
          priority='tertiary'
          size='small'
          disabled=true
          }}
              <div class='text'>Link one</div>
          {{/frost-link}}
        </div>
    </div>

    <div class="example">
        <div class="title">Small</div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{#frost-link
  'demo.min'
  priority='tertiary'
  size='small'
}}
  <div class='text'>Link one</div>
{{/frost-link}}
```"
          }}
        </div>
        <div class="demo">
          {{#frost-link
          'demo.min'
          priority='tertiary'
          size='small'
          }}
              <div class='text'>Link one</div>
          {{/frost-link}}
        </div>
    </div>

    <div class="example">
        <div class="title">Medium</div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{#frost-link
  'demo.min'
  priority='tertiary'
  size='medium'
}}
  <div class='text'>Link one</div>
{{/frost-link}}
```"
          }}
        </div>
        <div class="demo">
          {{#frost-link
          'demo.min'
          priority='tertiary'
          size='medium'
          }}
              <div class='text'>Link one</div>
          {{/frost-link}}
        </div>
    </div>

    <div class="example">
        <div class="title">Large</div>
        <div class="snippet">
          {{format-markdown "```handlebars
{{#frost-link
  'demo.min'
  priority='tertiary'
  size='large'
}}
  <div class='text'>Link one</div>
{{/frost-link}}
```"
          }}
        </div>
        <div class="demo">
          {{#frost-link
          'demo.min'
          priority='tertiary'
          size='large'
          }}
              <div class='text'>Link one</div>
          {{/frost-link}}
        </div>
    </div>
</div>

<div class='outlet'>
  {{outlet}}
</div>
